<div class="row mt-5">
    <div class="col-md-4 offset-md-4">

        <div>
            <h1 class="text-success text-center my-3">Login</h1>
        </div>


        {{#if hasErrors}}
        <div class="alert alert-danger mt-2 mb-3">
            {{#each messages }}
            {{this}}
            {{/each}}
        </div>

        {{/if}}

        <form action="/user/signin" method="post">
            <div class="form-group">
                <label for="email" class="font-weight-bold">Email</label>
                <input type="email" id="email" name='email' placeholder="please insert your email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password" class="font-weight-bold">Password</label>
                <input type="password" id="password" name='password' placeholder="please insert your password"
                    class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type='submit' class=" btn btn-success ml-auto">Sing In</button>
        </form>



    </div>


</div>

<div class="row mt-4">
    <div class="col-md-8 offset-4">
        <p>Dont have an account? <a href="/user/signup" class="">Sign up instead!</a>
        </p>
    </div>
</div>